<form class="my-form" [formGroup]="addCarForm">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Select car type...</mat-label>
            <mat-select formControlName="car-type">
                <mat-option *ngFor="let type of carTypes" (click)="updateType(type)" value="{{ type }}">{{ type }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field [style.fontSize]="16" appearance="fill">
            <mat-label>Model...</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"  formControlName="car-model"></textarea>
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Select car color...</mat-label>
            <mat-select formControlName="car-color">
                <mat-option *ngFor="let color of colors" (click)="updateColor(color)" value="{{ color }}">{{ color }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    &NewLine;
    &NewLine;
    <div>
        <mat-form-field [style.fontSize]="16" appearance="fill">
            <mat-label>Enter your license number</mat-label>
            <input matInput type="number" formControlName="car-license-number">
        </mat-form-field>
        &nbsp;
        <mat-form-field [style.fontSize]="14" appearance="fill">
            <mat-label>Enter your name(optional)</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" formControlName="car-owner"></textarea>
        </mat-form-field>
    </div>
    <div [hidden]="car.type === 'CAR'">
        <mat-form-field appearance="fill">
            <mat-label>Enter your truck's capacity</mat-label>
            <input matInput type="number" formControlName="car-capacity">
        </mat-form-field>
    </div>
    <div>
        <mat-card-actions>
            <button type="button" (click)="addNewCar()" [disabled]="!areAllFieldsFilled" mat-raised-button color="primary">Submit</button>
        </mat-card-actions>
    </div>
</form>